.alwaysmain{
  height: 100vh;
  overflow: scroll;
}
.alwaysmain::-webkit-scrollbar {
  width: 8px;  
  display: none;
}

.alwaysmain::-webkit-scrollbar-track {
  background-color: rgb(207,204,204);
  border-radius: 10px;  
  box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
  display: none;
}

.alwaysmain::-webkit-scrollbar-thumb {
  background-color: #888;  
  border-radius: 10px;  
  height: 15px;
  display: none;
}

.alwaysmain::-webkit-scrollbar-thumb:hover {
  background-color: #555;  
 
}
.inputcontainer{
  width: 100%;
  height: 100vh;
  box-sizing:border-box;
border: 3px solid blue;
  display: flex;
  overflow: scroll;
  overflow-x: hidden;
  border: none;
}

.inputcontainer::-webkit-scrollbar {
  width: 8px;  
  display: none;
}

.inputcontainer::-webkit-scrollbar-track {
  background-color: rgb(207,204,204);
  border-radius: 10px;  
  box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
  display: none;
}

.inputcontainer::-webkit-scrollbar-thumb {
  background-color: #888;  
  border-radius: 10px;  
  height: 15px;
 display: none;
}

.inputcontainer::-webkit-scrollbar-thumb:hover {
  background-color: #555;  
  display: none;
}


.inputclass{
  display: none;
}
.inputselector{
  align-items: center;
  margin-right: 20px;
  display: flex;
  border: none;
  box-shadow: none;
}

.inputselector .plus{
  padding: 7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgb(121, 117, 117);
}
.plus:hover{
  color: red;
  transform: scale(1.1);
}
.inputholder{
  display: flex;
  border: none;
  align-items: center;
  width: 600px;
  border: 3px solid black;
  margin-top: 20px;
  border: none;
}
.inputpic {
  border: 1px solid black;
  width: 200px;
  height: 500px;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  border: none;
}

/* Style the scrollbar */
.inputpic::-webkit-scrollbar {
  width: 8px;  /* Width of the vertical scrollbar */
  display: none;
}

.inputpic::-webkit-scrollbar-track {
  background-color: rgb(207,204,204);
  border-radius: 10px;  /* Rounded corners for the track */
  box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
  display: none;
}

.inputpic::-webkit-scrollbar-thumb {
  background-color: #888;  /* Color of the draggable scrollbar thumb */
  border-radius: 10px;  /* Rounded corners for the thumb */
  height: 15px;
  display: none;
}

.inputpic::-webkit-scrollbar-thumb:hover {
  background-color: #555;  /* Color of the thumb on hover */
  display: none;
}
.displayp{
  font-family: cursive;
  font-size: large;
  font-style: italic;
  font-weight: 500;
  text-shadow: 10px 10px 10px black;
}
.inputpic .divimage{
  border: 2px solid blue;
  width: 150px;
  height: 150px;
  margin-bottom: 18px;
  margin-left: 25px;
  margin-top: 18px;
  border: none;
  box-shadow: 10px 10px 10px rgb(121, 117, 117);
}
.divimage:hover{
  transform: scale(1.01);
}
.divimagetwo{
  border: 1px solid black;
  width: 140px;
  height: 140px;
  margin-bottom: 18px;
  margin-left: 25px;
  margin-top: 18px;
  box-shadow: 10px 10px 10px rgb(121, 117, 117);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.divimagetwo:hover{
  transform: scale(1.01);
}
.divimagetwo .uploadparagraph{
  font-family: cursive;
  font-weight: 500;
  font-style: italic;
  text-shadow: 10px 10px 10px black;
}
.divimage .imageshow{
  width: 150px;
  height: 150px;
  border: 1px solid green;
  border: none;
}
.divimage .imageshowpdf{
  height: 140px;
  width: 140px;
  border: 1px solid blue;
  border: none;
  overflow: hidden;

}

.showresult{
border: 1px solid black;
margin-top: 50px;
outline: none;
border: none;
}
.showresult .showresultonly{
width: 300px;
height: 300px;
box-shadow: 10px 10px 10px rgb(121, 117, 117);
border: 3px solid black;
border: none;
}
.showresultonly:hover{
  transform: scale(1.02);
}
.showresult .bigshowimage{
  width: 300px;
  height: 300px;
  box-shadow: 10px 10px 10px rgb(121, 117, 117);
}
.bigshowimage:hover{
  transform: scale(1.03);
}
.showresult .bigshowvideo{
  width: 300px;
  height: 300px;
  box-shadow: 10px 10px 10px rgb(121, 117, 117);
}
.bigshowvideo:hover{
  transform: scale(1.03);
}
.imagefilldiv .detaildiv{
border: 3px solid black;
width: 600px;
border: none;                                 
}

.showresult .title{
  border: 1px solid black;
  display: flex;
  height: 40px;
  align-items: center;
  margin-left: 10px;
  border: none;
}
.title .titleinput{
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  text-align: center;
  font-family: cursive;
  font-size: large;
  font-style: italic;
  outline: none;
  font-weight: 500;
  background-color: transparent;
  text-shadow: 10px 10px 10px black;
}
.titleinput::placeholder{
  color: black;
}
.thumbnail .description {
  border: 3px solid black;
  display: flex;
  align-items: center;
  height: 160px;
  width: 300px;
  margin-left: 16px;
  border: none;
}

.description .descriptioninput {
  border: 1px solid blue;
  outline: none;
  text-align: start;
  font-family: cursive;
  font-size: large;
  color: black;
  font-style: italic;
  font-weight: 500;
  width: 365px;
  background-color: transparent;
  resize: none;  
  overflow-y: auto;
  line-height: 1.5;
  text-shadow: 10px 10px 10px black;
  
  margin-left: 5px;
  word-wrap: break-word; 
  min-height: 20px; 
  max-height: 160px; /* Restricting height to 160px */
  padding-top: 0;
  padding-bottom: 0; /* Remove extra padding */
  border: none;
}


.descriptioninput::placeholder {
  color: black;
  text-align: start;
  text-shadow: 10px 10px 10px black;
}

.descriptioninput::-webkit-scrollbar {
  width: 8px;  
  display: none;
}

.descriptioninput::-webkit-scrollbar-track {
  background-color: rgb(207,204,204);
  border-radius: 10px;  /* Rounded corners for the track */
  box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
  display: none;
}

.descriptioninput::-webkit-scrollbar-thumb {
  background-color: #888;  /* Color of the draggable scrollbar thumb */
  border-radius: 10px;  /* Rounded corners for the thumb */
  height: 15px;
  display: none;
}
.detaildiv .thumbnail{
  border: 3px solid green;
  display: flex;
  align-items: center;
  height: 200px;
  width: 600px;
  margin-top: 10px;
  border: none;
}


.thumbnail .selectthumbnail{
  border: 1px solid black;
  margin-top: -25px;
  border: none;
}
.selectthumbnail .thumbnailinput{
  display: none;
}
.selectthumbnail .iconplus{
 padding: 7px;
 width: 20px;
 height: 20px;
 border-radius: 50%;
 box-shadow: 10px 10px 10px rgb(121, 117, 117);
}
.iconplus:hover{
  color: red;
  transform: scale(1.1);
}
.thumbnail .uploadthumbnail{
  margin-left: 25px;
  border: 5px solid blue;
  margin-right: 30px;
  box-shadow: 10px 10px 10px rgb(121, 117, 117);
  border: none;
}
.uploadthumbnail:hover{
  transform: scale(1.03);
}
.uploadthumbnail .imageclass{
  width: 150px;
  height: 150px;
  box-shadow: 10px 10px 10px rgb(121, 117, 117);
  border: none;
}
.imageclass:hover{
  transform: scale(1.03);
}
.uploaded{
  width: 170px;
  height: 170px;
  box-shadow: 10px 10px 10px rgb(121, 117, 117);
  display: flex;
  align-items: center;
  justify-content: center;
 border: 3px solid black;
 border: none;
}


.divimage .uploadparagraph{
  border: 1px solid black;
  font-weight: 500;
  font-style: italic;
  font-family: cursive;
  text-shadow: 10px 10px 10px black;
  text-align: center;
}
.uploaded .paragraph{
  font-family: cursive;
  font-size: large;
  font-weight: 500;
  font-style: italic;
 
  text-shadow: 10px 10px 10px black;
  text-align: center;
}

 .finish{
 
  border: 1px solid black;
  display: flex;
  align-items: center;
  border: none;
}
.finish .button{
  border: 1px solid black;
  font-family: cursive;
  font-style: italic;
  font-size: large;
  font-weight: 500;
  border: none;
  outline: none;
  height: 40px;
  width: 130px;
  margin-left: 340px;
  text-align: center;
  border-radius: 7px 80px;
  text-shadow: 10px 10px 10px black;
  box-shadow: 10px 10px 10px rgb(121, 117, 117);
}
.button:hover{
  transform: scale(1.03);
  color: red;
}

.inputpost .collection{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 10px;
}
.collection .collectionheading{
width: 111px;
text-shadow: 10px 10px 10px black;
}
.inputpost .postholder{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;;
}
.postholder .postdiv{
width: 200px;
border: none;
margin-top: 15px;
margin-bottom: 15px;
margin-left: 30px;
margin-right: 15px;
border: 1px solid black;
border: none;
}
.postdiv .showpostanddelete{
  height: 200px;
  width: 200px;
  border: none;
  display: flex;
  border: 1px solid green;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border: none;
}
.showpostanddelete:hover{
  transform: scale(1);
}
.showpostanddelete .show{
width: 200px;
height: 200px;
border: 1px solid black;
border: none;
border-radius: 15%;
}
.show .showimage{
  width: 200px;
  height: 200px;
  border-radius: 15px;
}
.showpostanddelete .delete{
width: 50px;
height: 50px;
margin-left: -35px;
z-index: 1;
border: 1px solid black;
border: none;
}
.delete .trash{
  width: 20px;
  height: 20px;
  padding: 7px;
  background-color: black;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 10px 10px 10px rgba(121, 117, 117,0.2);
}
.postdiv .title{
  border: 1px solid black;
  align-items: center;
  margin-top: 15px;
  display: flex;
  border: 1px solid red;
  width: 207px;
  border: none;
}
.title .ptitle{
  font-family: cursive;
  font-size:13px;
  font-weight: 500;
  height: 45px;
  width:207px;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  font-style: italic;
  text-overflow: ellipsis;
  text-shadow: 10px 10px 10px rgb(121, 117, 117);
  text-wrap: wrap;
}
.wrongparagraph{
  font-family: cursive;
  font-size: large;
  font-weight: 500;
  font-style: italic;
  text-shadow: 10px 10px 10px black;
}

  @media screen and (min-width: 1600px) {
 
    .inputcontainer .imagefilldiv{
      width: 36%;
      border: 3px solid black;
      height: 100vh;
      overflow:hidden;
      overflow-y: scroll;
      border: none;
     }
     .imagefilldiv::-webkit-scrollbar {
       width: 8px;  
       display: none;
     }
     
     .imagefilldiv::-webkit-scrollbar-track {
       background-color: rgb(207,204,204);
       border-radius: 10px;  
       box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
       display: none;
     }
     
     .imagefilldiv::-webkit-scrollbar-thumb {
       background-color: #888;  
       border-radius: 10px;  
       height: 15px;
       display: none;
     }
     
     .imagefilldiv::-webkit-scrollbar-thumb:hover {
       background-color: #555;  
       display: none;
     }
     .inputcontainer .inputpost{
      width: 64%;
      height: 100vh;
      overflow: hidden;
      overflow-y: scroll;
      margin-left: 0px;
      box-sizing: content-box;
      border: 3px solid black;
      border: none;
    }
    .inputpost::-webkit-scrollbar {
      width: 8px;  
      display: none;
    }
    
    .inputpost::-webkit-scrollbar-track {
      background-color: rgb(207,204,204);
      border-radius: 10px; 
      box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
      display: none;
    }
    
    .inputpost::-webkit-scrollbar-thumb {
      background-color: #888;  
      border-radius: 10px;  
      height: 15px;
      display: none;
    }
    
    .inputpost::-webkit-scrollbar-thumb:hover {
      background-color: #555;  
      display: none;
    }
     
    }
  @media screen and (min-width: 1250px) and (max-width: 1600px) {
    .inputcontainer .imagefilldiv{
      width: 45%;
      border: 3px solid brown;
      height: 100vh;
      overflow:hidden;
      overflow-y: scroll;
      border: none;
     }
     .imagefilldiv::-webkit-scrollbar {
       width: 8px;  
       display: none;
     }
     
     .imagefilldiv::-webkit-scrollbar-track {
       background-color: rgb(207,204,204);
       border-radius: 10px;  
       box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
       display: none;
     }
     
     .imagefilldiv::-webkit-scrollbar-thumb {
       background-color: #888;  
       border-radius: 10px;  
       height: 15px;
       display: none;
     }
     
     .imagefilldiv::-webkit-scrollbar-thumb:hover {
       background-color: #555;  
       display: none;
     }
     .inputcontainer .inputpost{
      width: 55%;
      height: 100vh;
      overflow: hidden;
      overflow-y: scroll;
      margin-left: 0px;
      box-sizing: content-box;
      border: 3px solid black;
      border: none;
    }
    .inputpost::-webkit-scrollbar {
      width: 8px;  
      display: none;
    }
    
    .inputpost::-webkit-scrollbar-track {
      background-color: rgb(207,204,204);
      border-radius: 10px; 
      box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
      display: none;
    }
    
    .inputpost::-webkit-scrollbar-thumb {
      background-color: #888;  
      border-radius: 10px;  
      height: 15px;
      display: none;
    }
    
    .inputpost::-webkit-scrollbar-thumb:hover {
      background-color: #555;  
      display: none;
    }
 
  }
  @media screen and (min-width: 1000px) and (max-width: 1250px) {
    .inputcontainer .imagefilldiv{
            width: 57%;
            border: 3px solid brown;
            height: 100vh;
            overflow:hidden;
            overflow-y: scroll;
            border: none;
           }
           .imagefilldiv::-webkit-scrollbar {
             width: 8px;  
             display: none;
           }
           
           .imagefilldiv::-webkit-scrollbar-track {
             background-color: rgb(207,204,204);
             border-radius: 10px;  
             box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
             display: none;
           }
           
           .imagefilldiv::-webkit-scrollbar-thumb {
             background-color: #888;  
             border-radius: 10px;  
             height: 15px;
             display: none;
           }
           
           .imagefilldiv::-webkit-scrollbar-thumb:hover {
             background-color: #555;  
             display: none;
           }      
           .inputcontainer .inputpost{
            width: 43%;
            height: 100vh;
            overflow: hidden;
            overflow-y: scroll;
            margin-left: 0px;
            box-sizing: content-box;
            border: 3px solid black;
            border: none;
          }
          .inputpost::-webkit-scrollbar {
            width: 8px;  
            display: none;
          }
          
          .inputpost::-webkit-scrollbar-track {
            background-color: rgb(207,204,204);
            border-radius: 10px; 
            box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
            display: none;
          }
          
          .inputpost::-webkit-scrollbar-thumb {
            background-color: #888;  
            border-radius: 10px;  
            height: 15px;
            display: none;
          }
          
          .inputpost::-webkit-scrollbar-thumb:hover {
            background-color: #555;  
            display: none;
          }
  }
  @media screen and (min-width: 760px) and (max-width: 1000px) {
    .inputcontainer .imagefilldiv{
            width: 75%;
            border: 3px solid brown;
            height: 100vh;
            overflow:hidden;
            overflow-y: scroll;
            border: none;
           
           }
           .imagefilldiv::-webkit-scrollbar {
             width: 8px;  
             display: none;
           }
           
           .imagefilldiv::-webkit-scrollbar-track {
             background-color: rgb(207,204,204);
             border-radius: 10px;  
             box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
             display: none;
           }
           
           .imagefilldiv::-webkit-scrollbar-thumb {
             background-color: #888;  
             border-radius: 10px;  
             height: 15px;
             display: none;
           }
           
           .imagefilldiv::-webkit-scrollbar-thumb:hover {
             background-color: #555;  
             display: none;
           }      
           .inputcontainer .inputpost{
            width: 25%;
            height: 100vh;
            overflow: hidden;
            overflow-y: scroll;
            margin-left: 0px;
            box-sizing: content-box;
            border: 3px solid black;
            border: none;
          }
          .inputpost::-webkit-scrollbar {
            width: 8px;  
            display: none;
          }
          
          .inputpost::-webkit-scrollbar-track {
            background-color: rgb(207,204,204);
            border-radius: 10px; 
            box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
            display: none;
          }
          
          .inputpost::-webkit-scrollbar-thumb {
            background-color: #888;  
            border-radius: 10px;  
            height: 15px;
            display: none;
          }
          
          .inputpost::-webkit-scrollbar-thumb:hover {
            background-color: #555;  
            display: none;
          }
  }

@media screen and (max-width:760px){
  .inputcontainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .imagefilldiv{
    border: 1px solid black;
    width: 100%;
    border: none;
  }
  .imagefilldiv .inputholder{
    width: 100%;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    border: none;
  }
  .inputholder .inputpic{
    border: 1px solid black;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
  }
  .inputpic .divimage{
   width: 100px;
   height: 100px;
   border-radius: 15px;
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  }
  .divimage .imageshow{
    width: 100px;
    height: 100px;
    border-radius: 15px;
  }
  .inputpic .manager{
    width: 100%;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  .manager .divimagetwo{
    width: 100px;
    height: 100px;
    border-radius: 15px; 
    border: 1px solid black;
    margin-left: 10px;
    box-shadow: 10px 10px 10px rgb(157, 152, 152);
    border: none;
  }
  .divimage:hover,.divimagetwo:hover{
    transform: scale(1.04);
  }
  .inputholder .inputselector{
    border: 1px solid black;
    margin-left: 45px;
    border: none;
    margin-bottom: 12px;
  }
  .inputselector .plus{
    border: 1px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border: none;
    
  }
  .inputholder .showresult{
    border: 1px solid black;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    border: none;
  }
  .showresult .showresultonly{
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 10px rgb(157, 152, 152);
    border: 1px solid black;
    border-radius: 15px;
    border: none;
  }
  .showresult .bigshowvideo{
    width: 250px;
    height: 250px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  .showresult .bigshowimage{
    width: 250px;
    height: 250px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  .inputholder .title{
    border: 1px solid black;
    margin-top: 10px;
    border: none;
  }
  .title .titleinput{
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2) ;
  }
  .bigshowimage:hover,.bigshowvideo:hover,.showresultonly{
    transform: scale(1.03);
  }
  .imagefilldiv .detaildiv{
    border: 5px solid blue;
    width: 100%;
    height: auto;
    border: none;
  }
  .detaildiv .thumbnail{
    border: 5px solid green;
    margin-top: 0px;
    width: 100%;
    height: auto;
    border: none;
  }
  .thumbnail .uploadthumbnail{
    border: 1px solid black;
    margin-left: 0px;
    height: auto;
    border-radius: 15px;
    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2) ;
  }
  .uploadthumbnail .imageclass{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2) ;
  }
  .imageclass:hover{
    transform: scale(1.03);
  }
  .uploadthumbnail .uploaded{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    border: 1px solid red;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2) ;
    border: none;
  }
  .uploaded .paragraph{
    text-shadow: 10px 10px 10px rgb(121, 117, 117);
  }
  .thumbnail .selectthumbnail{
    border: 1px solid black;
    margin-left: 0px;
    border: none;
  }
  .thumbnail .description{
    border: 1px solid black;
    width: 48%;
    height: 100px;
    border: none;
  }
  .description .descriptioninput{
   text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2) ;
   border: 1px solid red;
   max-height: 100px;
   border: none;
  }
  .descriptioninput::placeholder{
    text-shadow: 10px 10px 10px rgb(121, 117, 117);
  }
  .imagefilldiv .finish{
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: 10px;
  }
  .finish .button{
    margin-left: 0px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2) ;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2) ;
  }
  .inputcontainer .inputpost{
    border: 1px solid black;
    width: 100%;
    border: none;
  }
 .inputpost .postholder{
  border: 1px solid black;
  width: 100%;
  border: none;
  border-radius: 15px;
  border: 1px solid black;
  border: none;
 }
 .postholder .postdiv{
  border: 1px solid red;
  width: 132px;
  height: 150px;
  border: none;
 }
 .postdiv .showpostanddelete{
  border: 1px solid black;
  width: 132px;
  height: 132px;
  border: none;
 }
 .showpostanddelete .show{
  border: 1px solid black;
  width: 132px;
  height: 132px;
  border: none;
 }
 .show .showimage{
  border: 1px solid green;
  width: 130px;
  height: 130px;
  border: none;
 }
 .showpostanddelete .delete{
  border: 1px solid black;
  border: none;
 }
 .postdiv .title{
  border: 1px solid black;
  width: 100%;
  height: 18px;
  margin-top: 0px;
  overflow: hidden;
  border: none;
 }
 .title .ptitle{
  font-family: cursive;
  font-size: 13px;
  font-weight: 500;
  font-style: italic;
  margin-top: 0px;
  height: 18px;
  width: 100%;
  overflow: hidden;
 }
}
