.alwaysmain{
  height: 100vh;
  overflow: scroll;
}
.alwaysmain::-webkit-scrollbar {
  width: 8px;  
  display: none;
}

.alwaysmain::-webkit-scrollbar-track {
  background-color: rgb(207,204,204);
  border-radius: 10px;  
  box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
  display: none;
}

.alwaysmain::-webkit-scrollbar-thumb {
  background-color: #888;  
  border-radius: 10px;  
  height: 15px;
  display: none;
}

.alwaysmain::-webkit-scrollbar-thumb:hover {
  background-color: #555;  
 
}
.detail{
  border: 10px solid black;
  display: flex;
  width: 100%;
 
  border: none;
}
.detail .detaildiv{
  border: 3px solid yellow;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  border: none;
}
.detaildiv::-webkit-scrollbar {
  width: 8px;  
  display: none;
}

.detaildiv::-webkit-scrollbar-track {
  background-color: rgb(207,204,204);
  border-radius: 10px;  
  box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
  display: none;
}

.detaildiv::-webkit-scrollbar-thumb {
  background-color: #888;  
  border-radius: 10px;  
  height: 15px;
  display: none;
}

.detaildiv::-webkit-scrollbar-thumb:hover {
  background-color: #555;  
  display: none;
}
.detail .sponsordivb{
  border: 3px solid blue;
  overflow: hidden;
  box-shadow: 10px 10px 10px 10px rgb(174, 164, 164),inset -30px 30px 20px rgb(207,204,204);
  display: none;
  height: 100%;
  border: none;
}
.sponsordivb .headingb{
  border: 1px solid black;
  text-align: center;
  text-shadow: 10px 10px 10px black;
  border: none;
}
.sponsordivb .paragraphb{
  font-family: cursive;
  font-size: large;
  font-weight: 700;
  font-style: italic;
  text-shadow: 10px 10px 10px black;
  margin-top: 20px;
  text-align: center;
  border: none;
}
 .sponsordivb .imagesponsorb{
  border: 1px solid black;
  width: 337px;
  margin-top: 30px;
  height: 790px;
  border: none;
}
.sponsordivb .divsponrshipb{
  border: 1px solid black;
  width: 100%;
  height:85%;
  margin-top:15px;
  border: none;
}
.detaildiv .bigimagediv {
  width: 100%;
  height: 700px;
  border: 2px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  overflow: hidden;
  border: none;
  position: relative;
}
.bigimagediv .pen{
  position: absolute;
  top: 0px;
  margin-left: 651px;
}
.pen .penicon{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 7px;
  color: black;
  box-shadow: 10px 10px 10px  rgba(128, 125, 125,0.2);
}
.penicon:hover{
  color: red;
  transform: scale(1.1);
}
.bigimagepic{
  border: 1px solid black;
  height: 700px;
  width: 700px;
  border: none;
  border-radius: 17px;
}

.titles{
  font-family: cursive;
  font-size: large;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  text-shadow: 10px 10px 10px black;
  border: 1px solid black;
  text-transform: capitalize;
  border: none;
}
.descriptiontext{
  font-family: cursive;
  font-size: large;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  border: 1px solid black;
  border: none;
}
@media screen and (min-width: 950px) and (max-width:1500px) {
 
.detail  .detaildiv {
    width: 100%;
    border: none;
  }

 /* .detail .sponsordivb {
    width: 25%;
    display: block; 
  } */
}
@media screen and (min-width: 1500px) and (max-width:1800px) {
 
  .detail  .detaildiv {
      width: 100%;
      
    }
  
   /* .detail .sponsordivb {
      width: 25%;
      display: block; 
    } */
  }
  @media screen and (min-width: 1800px) {
 
    .detail  .detaildiv {
        width: 100%;
        border: none;
      }
    
     /* .detail .sponsordivb {
        width: 23%;
        display: block; 
      } */
    }
.imagedivreview {
  margin-top: 10px;
  border: 3px solid black;
  display: flex;
  margin-left:0.5%;
  margin-right: 0.5%;
  overflow-x: scroll;  
  height: 120px;
  align-items: center;
  justify-content: flex-start;  /* Align items to the left */
  white-space: nowrap;  /* Prevent line breaks between images */
  width: 99%;
  box-shadow: 10px 10px 10px 10px rgba(70, 69, 69,0.2);
  border-radius: 15px;
  border: none;
}
.imagedivreview::-webkit-scrollbar {
  width: 8px;  
  display: none;
}

.imagedivreview::-webkit-scrollbar-track {
  background-color: rgb(207,204,204);
  border-radius: 10px;  
  box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
  display: none;
}

.imagedivreview::-webkit-scrollbar-thumb {
  background-color: #888;  
  border-radius: 10px;  
  height: 15px;
  display: none;
}

.imagedivreview::-webkit-scrollbar-thumb:hover {
  background-color: #555;  
  display: none;
}

.imageprev,
.imageprevdata {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  margin-left: 40px; 
  border: none;
  border-radius: 15%;
  box-shadow: 5px 5px 15px rgba(90, 88, 88, 0.5);
  transition: all 0.2s ease-in;
}
.imageprev:hover ,.imageprevdata:hover{
  transform: scale(1.3);
}
.showbutton{
  width: 150px;
  height: 50px;
  font-family: cursive;
  font-size: large;
  font-weight: 500;
  font-style: italic;
  text-shadow: 10px 10px 10px black;
  border-radius: 15px;
  border: none;
  outline: none;
  margin-left: 40px;
  box-shadow: 10px 10px 10px  rgb(107, 103, 103);
  transition: all 0.2s ease;
}
.showbutton:hover{
  transform: scale(1.07);
}
.profiledivcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 3px solid blue;
  margin-top: 10px;
  border: none;
}
.profiledivcontainer .profilepicture{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.5);
  margin-right: 30px;
  border: none;
  transition: all 0.2s ease;
}
.profilepicture:hover{
  transform: scale(1.04);
}
.profiledivcontainer .profilename{
  font-family: cursive;
  font-size: large;
  font-weight: 500;
  font-style: italic;
  text-shadow: 10px 10px 10px black;
  text-transform: capitalize;
  border: none;
}
.descriptiondiv{
  height: 200px;
  margin-top: 20px;
  border: 3px solid red;
  border: none;

}
@media screen and (max-width: 750px) {
 .profiledivcontainer{
  border: 1px solid black;
  height: 80px;
  margin-top: 0px;
  border: none;
 }
 .profiledivcontainer .profilepicture{
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border: none;
 }
 .descriptiondiv{
  margin-top: 10px;
 }
 .descriptiontext{
  font-family: cursive;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  border: 1px solid black;
  border: none;
 }
 .detaildiv .bigimagediv {
  width: 100%;
  height: 450px; 
 border: 2px solid black;
 margin-bottom: 10px;
 margin-top: 0px;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 0px;
 border: none;
}
 .bigimagepic{
  height: 450px;
  width: 100%;
  border: none;
  margin-top: 0px;
  border-radius: 0px;
  box-shadow: 10px 10px 10px 10px rgb(129, 125, 125);
}
.imagedivreview {
  margin-top: 10px;
  border: 3px solid black;
  display: flex;
  overflow-x: scroll;  
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: flex-start;  /* Align items to the left */
  white-space: nowrap;  /* Prevent line breaks between images */
  box-shadow: 5px 5px 15px rgba(94, 92, 92, 0.5);
  border: none;
}
.imagedivreview::-webkit-scrollbar {
  width: 8px;  
  display: none;
}

.imagedivreview::-webkit-scrollbar-track {
  background-color: rgb(207,204,204);
  border-radius: 10px;  
  box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
  display: none;
}

.imagedivreview::-webkit-scrollbar-thumb {
  background-color: #888;  
  border-radius: 10px;  
  height: 15px;
  display: none;
}

.imagedivreview::-webkit-scrollbar-thumb:hover {
  background-color: #555;  
  display: none;
}

  }
  @media screen and (min-width: 0px) and (max-width:350px) {
    .bigimagediv .pen{
      position: absolute;
      top: 0px;
      margin-left: 291px;
    }
    .pen .penicon{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      padding: 7px;
      color: black;
      box-shadow: 10px 10px 10px  rgba(128, 125, 125,0.2);
    }
   
    }
    @media screen and (min-width: 350px) and (max-width:370px) {
      .bigimagediv .pen{
        position: absolute;
        top: 0px;
        margin-left: 312px;
      }
      .pen .penicon{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        padding: 7px;
        color: black;
        box-shadow: 10px 10px 10px  rgba(128, 125, 125,0.2);
      }
     
      }
      @media screen and (min-width: 370px) and (max-width:400px) {
        .bigimagediv .pen{
          position: absolute;
          top: 0px;
          margin-left: 345px;
        }
        .pen .penicon{
          width: 20px;
          height: 20px;
          border-radius: 50%;
          padding: 7px;
          color: black;
          box-shadow: 10px 10px 10px  rgba(128, 125, 125,0.2);
        }
       
        }
        @media screen and (min-width: 400px) and (max-width:420px) {
          .bigimagediv .pen{
            position: absolute;
            top: 0px;
            margin-left: 365px;
          }
          .pen .penicon{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            padding: 7px;
            color: black;
            box-shadow: 10px 10px 10px  rgba(128, 125, 125,0.2);
          }
         
          }
          @media screen and (min-width: 420px) and (max-width:750px) {
            .bigimagediv .pen{
              position: absolute;
              top: 0px;
              margin-left: 379px;
            }
            .pen .penicon{
              width: 20px;
              height: 20px;
              border-radius: 50%;
              padding: 7px;
              color: black;
              box-shadow: 10px 10px 10px  rgba(128, 125, 125,0.2);
            }
           
            }